body{
    background-color: #F5F7F8;
    font-family: inter,sans-serif;
}
/* Navbar Section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #b035f7;

}

.navbar .logo {
    flex: 1;
}

.navbar .logo img {
    width: 150px;
}

.nav-links {
    flex: 2;
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; /* Center the navigation links */
}

.nav-links li {
    position: relative;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00ff57; /* Change color on hover */
}

.nav-links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #00ff57;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%; /* Underline expands on hover */
}

.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.nav-links .dropdown-menu li {
    padding: 10px;
}

.nav-links .dropdown-menu a {
    color: #fff;
    font-weight: normal;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 4px;
}

.main-content {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 20px; /* Add some padding to the sides */
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #000; /* Black background */
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 50%;
    color: #fff;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}



.hero-image {
    position: relative;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

}

/* Detail1 Section */
.detail1 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #f7f7f7;
}


.detail1-box {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
}

.detail1-box img {
    max-width: 40%; 
    flex-shrink: 0;
}

.detail1-content {
    max-width: 50%; 
}

.detail1-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.detail1-content p {
    font-size: 18px;
}


/* Container for counters */
.counter-container {
    display: flex;
    gap: 20px;
    justify-content: center; /* Align counters in the center */
    margin-top: 20px; /* Adjust margin as needed */
}

.counter-container {
    display: flex;
    gap: 20px;
}
.counter-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8576FF;
    position: relative;
    z-index: 1; 
    margin-top: 10px; 
    font-size: 1.5rem; 
    text-align: center;
    height: 160px;
    padding: 5px;
    border:1px solid  #211951; 
}

.counter {
    font-size: 5rem; /* Increased font size */
    font-weight: bold;
    padding: 20px;
    background-color: #f5f6f8;
    color: #8576FF; /* Set font color to black */
    border: 2px solid #f5f6f8; /* Set border color to black */
    height: 75px;
}

.counter.transparent {
    position: relative;
    background-color: #f5f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 900;
    font-family: tahoma;
    height: 75px;
    -webkit-text-stroke: 5px #8576FF;
    -webkit-text-fill-color: transparent;  
}


.counter.transparent-border {
    border: 2px solid red;
    border-radius: 5px;
    padding: 16px; 
}

.counter.transparent-border span {
    font-size: 5rem; 
    background-color: transparent;
    color: transparent; 
    border: none; 
    padding: 0; 
    position: relative;
}

.counter.transparent-border span::before {
    content: attr(data-value);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: red; /* Change text color to red */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Detail2- Section*/
.detail2 {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accordion-container {
    flex: 1;
    flex-direction: column;
    margin-right: 2rem;
    background-color:#8576FF;
    border:3px solid #211951;
    border-radius: 15px ;
    width: 47%;
    gap: 3%;
}

.about-us {
    flex: 1;
}

div.c {
    position: relative;
    margin: 1em 0;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: 0;
}

h1 {
    background:white;
    color: #211951;
    padding: 1em;
    position: relative;
    margin: 1rem;
    border-radius:5px;
}

label::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-left: 20px solid #211951;
}

label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color:white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius:5px;
}

div.p p {
    padding: 2em;
   
}

input:checked ~ h1 label::before {
    border-left: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 12px;
    margin-right: 10px;
}

input:checked ~ h1 ~ div.p {
    max-height: 100px;
}

a {
    color: #8576ff;
}

.section-heading {
    text-align: center;
    margin-top: 1 rem;
    flex: 1;
}

.section-heading h6 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.section-heading h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-heading p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.section-heading .main-button a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #8576ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
     transition: background 0.3s;
}

.section-heading .main-button a:hover {
    background: #6b5fc1;
}


/* .column {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 10px; }


.tab-1 {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f7f7f7; 
    color: #333; 
    cursor: pointer;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
    text-decoration: none;
    border-bottom: 2px solid transparent; 
}

.tab-1::before {
    content: ">"; 
    color: #32cd32; 
    margin-right: 10px; 
}

.tab-1:hover {
    color: #32cd32; 
    border-bottom-color: #000; 
} */
/* Footer section */
.footer {
    background-color: #F5F7F8;
    color: #8576FF;
    padding: 40px 20px;
    font-family: 'Inter', sans-serif; /* Change font family */
    position: relative; /* Position relative for absolute positioning */
}

.footer-divider {
    position: absolute;
    top: -1px; /* Position above the footer */
    right: 0;
    left: 0;
    height: 1px; /* Height of the divider */
    background-color: #8576FF; /* Divider color */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items vertically top */
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px; /* Reduce the gap between sections */
    position: relative; /* Position relative for absolute positioning */
}
.footer-divider-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(29% - 1px); /* Position at the end of the left column */
    width: 1px; /* Width of the divider */
    background-color: #8576FF; /* Divider color */
}
.footer-right {
    flex:2.9; /* Right content covers 3/4 of the container */
}

.footer-left {
    flex: 1.1; /* Left content covers 1/4 of the container */
    display: flex; /* Display columns side by side */
    gap: 20px; /* Gap between columns */
}

.footer-content {
    display: flex;
    align-items: center;
}
.footer-img {
    margin-right: 20px; /* Space between image and content */
}
.footer-img img {
    width: 100px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right:3px; /* Space between image and content */
}

.content {
    flex: 1; /* Take remaining space */
}
.content h3 {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    line-height: 1.2; /* Adjust line height */
    text-wrap: left;
}

.contact-box {
    display: flex;
    gap: 20px; /* Space between contact items */
    margin:10px;
}
.contact-box1 {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column; 
    margin-top: 20px;
    margin-left: 20px; 
    margin-bottom: 20px; 
}

.contact-item {
    background-color: #fcfcfd;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #8576ff;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
    transition: background-color 0.3s;
}

.contact-item span {
    font-weight: bold;
    margin-right: 5px; /* Space between label and content */
}

.contact-item:hover {
    background-color: #8576ff;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #211951;
}
.footer-bottom i{
    color: #8576FF; 
    margin:5px;
    font-size: larger;
}

.footer-bottom a {
    color: #211951;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #8576ff;
    text-decoration: underline;
}
.footer-column {
    flex: 1; /* Each column takes equal space */
}

.footer-column h3 {
    margin-bottom: 10px; /* Adjust spacing */
    font-size: 20px; /* Increase font size */
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #211951;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #8576FF;
}





/* Bar Section */
.bar {
    background-color: #8576FF;
    color: #211951;
    padding: 20px;
    text-align: center;
}
.bar-flex-container {
    display: flex;
    justify-content: space-between;
}

.bar-content p {
    font-size: 30px;
    font-family: inter,sans-serif;
    font-style: bold;
    text-transform: uppercase;
    line-height: 3; 
    margin: 8px; 
    transition: color 0.3s ease; 
}
.bar-content p:hover {
    color: white; /* Change text color to white on hover */
}